<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Switchboard</title>
</head>
<body>
  <h1>Switchboard</h1>
  <div class="main" *ngFor = 'let i of switches; let idx = index'>
    <button [ngClass] = "{'change-color': i}" (click) = "clicked(idx)" *ngIf = 'i'>Off</button>
    <button [ngClass] = "{'change-color': i}" (click) = "clicked(idx)" *ngIf = '!i'>On</button>
  </div>
</body>
</html>